name: Windows-Grdp
on: 
  workflow_dispatch 
defaults:
  run:
    shell: powershell
jobs:
  build:
    runs-on: windows-latest
    steps:

    - name: ssh into server 
      uses: mxschmitt/action-tmate@v3
